language: ruby
rvm:
- 2.2.0
before_install: gem install bundler -v 1.10.3
script:
  - bundle exec rspec
  - bundle exec rubocop
deploy:
  provider: rubygems
  api_key:
    secure: YORbXXGAPfr5C/RSS+ok1XAfJPKnmEouk9gEPPtx6YkSj5vs786oDZ/K8LIeWZZ3ToILsntz0VFp8OMejYitXOa/wEkuZ6dbALcXqxnj69yJNkeI+WZdnlAiMirxPa/4yOWMd9NKh5cfP+q1ZiMmoTRUjs+2MBveVhCG5fsaxeS0TmTnSw+MkSIDJu6VwqnAX6B7Cs/1/IaJiUNmxGegtMfE7bdL7bRwfijlKgNu/m9vjunbwqSg9EnYFMnus2QIwz7ILgTw40o1Da8Ma76UQtykbWD4Z2bCSwBQlwh43zSl4R1DU3j25718WOEI/ZoYUEWnLuGvhxHlRF8ZeY5EtuQw89fjjOI80GCWCUghzGIBTgtOXzyt1Zk5lLYq1Q4HuxIFq6pv6f3ByYPFQDqym5TV+rl9IvHysxap6QGmQJDVR5TYCw5s43RkP86QwEqtU9BoQshcOkor3GBcC/wJLxDI+nccTzIHWD0ypIpZh/1QypjRqJebdRJ+s8RIxwdXRNUwl8+2WIuOeXV/hXgPnd+VyjuLoJoQHe/ebZfp8o00ZQZeRrPZYGI0XC54jWPA6PsfKCcbgB8wR3NOtVOd0j0Be7Tu35Hfo+rBAyFqiEzHJUkTVbGqePqf+Moa3u+LOKI7ZDXaKKSmyj+IqS9yvzGsuGYumXmAB8Ql/ATQyYM=
  gem: goodwill
